.chat-container {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}

.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 24px;
}

.chat-input {
  left: 0;
  right: 0;
}

.chat-body {
  padding: 8px;
}

.chat-message {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

textarea {
  width: calc(100% - 40px);
  box-sizing: border-box;
  margin: 20px;
}
