/* Container for alignment */
.dollars-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

.outer-circle {
  width: 480px; /* (50 - 2vh) */
  height: 480px;
  border-radius: 50%; /* Makes it a circle */
  border: 20px solid white; /* Simulates the white stroke */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.inner-circle {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dollars-text {
  color: white;
  container-name: dollas-text;
  font-family: "Press Start 2P", cursive;
  font-size: 48px;
}
